*,
html{
    margin: 0%;
    padding: 0%;
}
body {
    background-color: white
}

.navbar {
    height: 10vh;
    background-color: rgb(25, 79, 11);
    width :100%;
    height: 100px;
}

.ul-navbar {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding :20px;
    margin:5px;
    color : white;
    font-size: 25px;
}

.li-navbar:hover {
    background-color: rgb(6, 45, 6);
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}
    
.img-contand {
    width: 20%;
    height:20%
}

.a-contand {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-decoration: none;
    color: rgb(6, 46, 6)
   
}

.container-contand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 68, 6);
    height: 10vh;
    color: white;
}

.a-navbar {
    color: white; /* Warna teks biru muda */
    text-decoration: none; /* Hilangkan garis bawah */
}


